@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  border-radius: 5px;
  padding: 30px;
}
.section-title {
  font-size: 24px;
  font-weight: 500px;
  color: #562eff;
  margin-top: 3px;
}
.top-players {
  margin-bottom: 30px;
}
.players-name {
  font-size: 18px;
}
.players {
  display: grid;
  grid-row-gap: 30px;

  grid-template-columns: repeat(3, 1fr);
}
.player img {
  height: 56px;
  width: 56px;
}
.player {
  display: flex;
  align-items: center;
  gap: 17px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
.blog .thumbnail img {
  width: 200px;
  height: 127px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}
